/* Contact Section */

.contact {
  height: 750px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text {
  width: 30%;
  text-align: center;
  line-height: 1.5;
}

.contact-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact-form .form-field {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: var(--theme-color-grey);
  border: none;
  padding-left: 8px;
  opacity: 0.5;
  transition: all 0.3s;
}

/* Standard, Chrome/Opera/Safari, Firefox */
.contact-form .form-field::placeholder,
.contact-form .form-field::-webkit-input-placeholder,
.contact-form .form-field::-moz-placeholder {
  color: var(--text-color-grey);
  opacity: 1;
}

.contact-form .form-field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-color-grey);
  opacity: 1;
}

.contact-form .form-field:focus {
  outline: none;
  opacity: 1;
  border: 1px solid var(--theme-color-blue);
}

/* Added (through js) to a form-field when it has been filled out. */
.contact-form .field-filled {
  opacity: 1;
}

.contact-form .message-field {
  padding-top: 8px;
  height: 100px;
}

/* Button finished for now. Will probably change later. */
.contact-form .submit-button {
  align-self: flex-end;
}

/* Responsive Design */

@media (width <= 1000px) {
  .contact-text {
    width: 90%;
  }

  .contact-text br {
    display: none;
  }

  .contact-form {
    width: 90%;
  }
}

@media (width >= 1001px) and (width <= 1500px) {
  .contact-text {
    width: 50%;
  }

  .contact-form {
    width: 50%;
  }
}

@media (width > 1500px) and (width < 1800px) {
  .contact-text {
    width: 40%;
  }

  .contact-form {
    width: 40%;
  }
}
