/* === Header === */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  z-index: 100;
  background-color: var(--background-color-grey);
  transition: 0.5s;
}

.header .logo {
  font-size: 24px;
}

.navigation {
  display: flex;
}

.navigation li {
  padding: 0 20px;
}

.navigation li a {
  transition: all 0.3s ease 0s;
}

.navigation li a:hover {
  color: var(--theme-color-blue);
}
