/* === Header === */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  z-index: 100;
  background-color: var(--background-color-grey);
  transition: 0.5s;
}

.header .logo {
  font-size: 24px;
}

.navigation {
  display: flex;
}

.navigation li {
  padding: 0 20px;
}

.navigation li a {
  transition: all 0.3s ease 0s;
}

.navigation li a:hover {
  color: var(--theme-color-blue);
}

/* Since header now has to be `position:fixed` (for scrolling behaviour),
the sizing of the home section appears to be thrown off since it doesn't have the header
contributing to the height. So we need to add a spacer to the top of the home section to
make up for the header's height.

89px was discovered as the true height of the header.*/
.header-space {
  width: 100%;
  height: 89px;
}

/* Responsive Design */

@media (width < 500px) {
  .header {
    width: 100vw;
    justify-content: space-between;
    padding: 20px 5%;
  }

  .navigation li:not(:last-child) {
    display: none;
  }

  .header-space {
    display: none;
  }
}
