/* === Home === */

.home {
  height: 800px;
  display: flex;
}

.home .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .left-side .content-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .left-side .content-container .animation-text-container {
  width: auto;
  height: 60%;
}

.home .left-side .animation-text-container .cursor {
  display: inline-block;
  background-color: var(--text-color-white);
  width: 3px;
  font-size: 64px;
  animation: blink 1s infinite;
}

/* for cursor animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .left-side .content-container h2 {
  font-size: 64px;
  margin-bottom: 10px;
  display: inline-block;
}

.home .left-side .content-container span {
  color: var(--theme-color-blue);
}

.home .left-side .content-container h1 {
  font-size: 96px;
  margin-bottom: 30px;
  display: inline-block;
}

.home .left-side .content-container p {
  font-size: 24px;
  margin-bottom: 30px;
}

.home .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  isolation: isolate;
}

.home .right-side .dots-decor {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 25%;
  right: 0%;
  z-index: -2;

  background-image: radial-gradient(var(--text-color-grey) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  opacity: 0.3;
}

/* square decors have an overlay, which allows the hover animation to work. */

.home .right-side .square-decor {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: var(--theme-color-grey);
  opacity: 0.2;
  transition: 0.25s;
}

.home .right-side .square-decor-overlay {
  position: absolute;
  z-index: 5 !important;
  background-color: #05aad8;
  transition: none;
  opacity: 0;
}

.home .right-side .square-decor-1 {
  z-index: -3;
  left: -10%;
  top: 20%;
}

.home .right-side .square-decor-2 {
  z-index: -1;
  right: 2%;
  bottom: 10%;
}

/* content container has border-box divs for the corner border design */

.home .right-side .content-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home .right-side .content-container .border-box-top-left {
  position: absolute;
  width: 25%;
  height: 25%;
  border-top: var(--text-color-white) 1px solid;
  border-left: var(--text-color-white) 1px solid;
  left: 0%;
  top: 0%;
}

.home .right-side .content-container .border-box-bottom-right {
  position: absolute;
  width: 25%;
  height: 25%;
  border-bottom: var(--text-color-white) 1px solid;
  border-right: var(--text-color-white) 1px solid;
  right: 0%;
  bottom: 0%;
}

.home .right-side .content-container h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.home .right-side .content-container ul li {
  font-size: 24px;
  font-family: "Inter Extra-Light";
  color: var(--text-color-grey);
  margin-bottom: 30px;
  padding-left: 40px;
  transition: 0.1s;

  background-image: url(/images/other/check.png);
  background-repeat: no-repeat;
  background-size: 25px;
}

/* Responsive Design */

@media (width < 1200px) {
  .home .right-side {
    display: none;
  }

  .home .left-side {
    width: 100%;
  }

  .home .left-side .content-container {
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .home .left-side .content-container h2 {
    font-size: 42px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .home .left-side .content-container h1 {
    font-size: 64px;
    margin-bottom: 0px;
    display: inline-block;
  }

  .home .left-side .content-container .animation-text-container {
    height: 150px;
    margin-bottom: 50px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .left-side .content-container p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (width >= 1200px) and (width <= 1500px) {
  .home .left-side .content-container {
    width: 70%;
  }

  .home .left-side .content-container .animation-text-container {
    width: auto;
    height: 50%;
  }

  .home .left-side .content-container h2 {
    font-size: 48px;
  }

  .home .left-side .content-container h1 {
    font-size: 72px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .right-side .content-container {
    width: 70%;
  }

  .home .right-side .square-decor {
    width: 35%;
    height: 25%;
  }
}

@media (width > 1500px) and (width < 1800px) {
  .home .left-side .content-container {
    width: 50%;
  }

  .home .left-side .content-container .animation-text-container {
    width: auto;
    height: 50%;
  }

  .home .left-side .content-container h2 {
    font-size: 48px;
  }

  .home .left-side .content-container h1 {
    font-size: 72px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .right-side .content-container {
    width: 60%;
  }

  .home .right-side .square-decor {
    width: 30%;
    height: 25%;
  }
}

/* Responsive Design - Old Syntax (for some IOS clients) */

@media (max-width: 1199px) {
  .home .right-side {
    display: none;
  }

  .home .left-side {
    width: 100%;
  }

  .home .left-side .content-container {
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .home .left-side .content-container h2 {
    font-size: 42px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .home .left-side .content-container h1 {
    font-size: 64px;
    margin-bottom: 0px;
    display: inline-block;
  }

  .home .left-side .content-container .animation-text-container {
    height: 150px;
    margin-bottom: 50px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .left-side .content-container p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .home .left-side .content-container {
    width: 70%;
  }

  .home .left-side .content-container .animation-text-container {
    width: auto;
    height: 50%;
  }

  .home .left-side .content-container h2 {
    font-size: 48px;
  }

  .home .left-side .content-container h1 {
    font-size: 72px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .right-side .content-container {
    width: 70%;
  }

  .home .right-side .square-decor {
    width: 35%;
    height: 25%;
  }
}

@media (min-width: 1501px) and (max-width: 1799px) {
  .home .left-side .content-container {
    width: 50%;
  }

  .home .left-side .content-container .animation-text-container {
    width: auto;
    height: 50%;
  }

  .home .left-side .content-container h2 {
    font-size: 48px;
  }

  .home .left-side .content-container h1 {
    font-size: 72px;
  }

  .home .left-side .animation-text-container .cursor {
    display: none;
  }

  .home .right-side .content-container {
    width: 60%;
  }

  .home .right-side .square-decor {
    width: 30%;
    height: 25%;
  }
}
