/* === Projects === */

.projects {
  height: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--background-color-dark);
}

.projects-heading {
  margin-top: 100px;
}

.projects-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

/* Project Description Area */

.project-description-area {
  width: 80%;
  height: 20%;
  position: relative;
  margin-bottom: 30px;
}

.project-description-area .project-description {
  display: flex;
  flex-direction: column;
  line-height: 2;
  position: absolute;

  opacity: 0;
  transition: 0.5s;
  filter: blur(5px);
}

/* displayed-description class will be set to whichever project-description
should be currently displayed. Managed through javascript. */
.project-description-area .displayed-description {
  opacity: 1;
  filter: blur(0px);
}

/* Projects Grid */

.projects-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  height: 60%;
  gap: 10px;
  margin-bottom: 50px;
}

/* Projects Grid - General configs */

.projects-grid .project-container {
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

/* Project appear animation classes: */
/* Initial state for project before appear animation.
Applied to any project that should be animated on scroll. */
.projects-grid .project-hidden {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s;
}
/* Appear animation class. Applied and removed through javascript. */
.projects-grid .project-appear {
  opacity: 1;
  transform: scaleX(1);
}

.projects-grid .project-container:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.project-container .project-content {
  border-radius: 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 100%;
}

/* transition for h2 and img disappearing on hover  */
.project-container .project-content h2,
.project-container .project-content img {
  transition: 0.2s;
}

.project-container .scrolling-text-wrapper {
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s;
  filter: blur(5px);
  animation: scroll 13s linear infinite;

  position: absolute;
  top: 39%;
}

/* applied through javascript to whichever project text scrolling animation should be playing */
.project-container .scrolling {
  opacity: 1;
  filter: blur(0px);
}

.project-container .scrolling-text-wrapper p {
  display: inline-block;
  font-size: 40px;
  padding-right: 5px;
  color: var(--text-color-black);
}

/* text scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Projects Grid - Project specific configs */

.projects-grid .project-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.project-1 .project-content {
  background-color: var(--project-item-color-blue);
  border: 100px solid var(--project-item-color-blue);
}

.project-1 .project-content h2 {
  font-size: 28px;
}

.project-1 .project-content img {
  width: 6%;
}

/* custom scrolling text styling for project-1 */
.project-1 .scrolling-text-wrapper {
  animation: scroll 18s linear infinite;
  top: 35%;
}
.project-1 .scrolling-text-wrapper p {
  font-size: 80px;
  color: var(--text-color-grey);
}

.projects-grid .project2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.project-2 .project-content {
  background-color: var(--project-item-color-white);
  border: 60px solid var(--project-item-color-white);
}

.project-2 .project-content h2 {
  color: var(--text-color-black);
  font-size: 22px;
}

.project-2 .project-content img {
  width: 10%;
}

.projects-grid .project-3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.project-3 .project-content {
  background-color: var(--project-item-color-purple);
  border: 60px solid var(--project-item-color-purple);
}

.project-3 .project-content h2 {
  color: var(--text-color-black);
  font-size: 22px;
}

.project-3 .project-content img {
  width: 12%;
}

.projects-grid .project-4 {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.project-4 .project-content {
  background-color: var(--project-item-color-yellow);
  border: 60px solid var(--project-item-color-yellow);
}

.project-4 .project-content h2 {
  color: var(--text-color-black);
  font-size: 22px;
}

.project-4 .project-content img {
  width: 5%;
}

/* Responsive Design */

@media (width <= 1000px) {
  .projects .projects-content .project-description-area {
    display: none;
  }

  .projects .projects-content .projects-grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .projects-grid .project-1 {
    position: relative;
  }

  .project-1 .project-content h2 {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .project-1 .project-content img {
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .project-1 .scrolling-text-wrapper {
    top: 45%;
  }

  .project-1 .scrolling-text-wrapper p {
    font-size: 50px;
  }

  .project-4 .project-content img {
    width: 10%;
  }
}
