/* === Services === */

.services-section-spacer {
  background-image: url(/images/section_transition_svgs/services-section-waves-transition.svg);
  height: 350px;
  background-position: top;
}

.services {
  height: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.services-heading {
  margin-top: 50px;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Services Display (left-side) */

.services-content .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content .services-display {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.services-display .service {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: absolute;
}

.services-display .service img {
  width: 150px;
  margin-bottom: 30px;
}

.services-display .service h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.services-display .service p {
  font-size: 18px;
  line-height: 1.5;
}

.services-display .service h2,
.services-display .service p {
  text-align: center;
}

.services-display .service-1 {
  top: 0%;
  left: 0%;
}

.services-display .service-2 {
  position: static;
  margin-left: auto;
}

.services-display .service-3 {
  bottom: 0%;
  left: 0%;
}

/* Used to center the line decor */
.services-display .line-decor-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-display .line-decor {
  width: 2px;
  height: 80%;
  background-color: var(--text-color-grey);
  border-radius: 10px;
  box-shadow: 0 0 10px #9ecaed;
}

/* animation classes for line-decor */
.line-decor-hidden {
  transition: all 3s;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition-delay: 200ms;
}

.line-decor-show {
  opacity: 1;
  transform: scaleY(1);
}

/* Work With Me (right-side) */

.services-content .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-with-me {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-with-me h2 {
  margin-bottom: 40px;
}

.work-with-me p {
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
  padding: 0px 100px 0px 100px;
}

.work-with-me .paragraph-1 {
  margin-bottom: 60px;
}

.work-with-me ul {
  margin-bottom: 50px;
}

.work-with-me ul li {
  display: flex;
  align-items: center;
  height: 40px;

  font-family: "Inter Extra-Light";
  font-size: 22px;
  margin-bottom: 20px;
  padding-left: 60px;
  background-repeat: no-repeat;
}

.work-with-me ul li:nth-child(1) {
  background-image: url(/images/services/other/request_icon.png);
  background-size: 38px auto;
}

.work-with-me ul li:nth-child(2) {
  background-image: url(/images/services/other/people_icon.png);
  background-size: 40px auto;
}

.work-with-me ul li:nth-child(3) {
  background-image: url(/images/services/other/handshake_icon.png);
  background-size: 50px auto;
}

.work-with-me .paragraph-2 {
  margin-bottom: 60px;
}

.work-with-me .call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work-with-me .call-to-action p {
  padding: 0;
  color: var(--theme-color-blue);
}

.work-with-me .call-to-action img {
  width: 20px;
  margin-left: 5px;
}
