@import "utility/variables";
// === Projects ===

.projects {
  height: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: $background-color-dark;

  .projects-heading {
    margin-top: 100px;
  }

  .projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;

    // Project Description Area

    .project-description-area {
      width: 80%;
      height: 20%;
      position: relative;
      margin-bottom: 30px;

      .project-description {
        display: flex;
        flex-direction: column;
        line-height: 2;
        position: absolute;

        opacity: 0;
        transition: 0.5s;
        filter: blur(5px);
      }

      // displayed-description class will be set to whichever project-description
      // should be currently displayed. Managed through javascript.
      .displayed-description {
        opacity: 1;
        filter: blur(0px);
      }
    }

    // Projects Grid

    .projects-grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
      width: 100%;
      height: 60%;
      gap: 10px;
      margin-bottom: 50px;

      // Projects Grid - General configs

      .project-container {
        overflow: hidden;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        .project-content {
          border-radius: 50px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          height: 100%;

          // transition for h2 and img disappearing on hover
          h2,
          img {
            transition: 0.2s;
          }
        }

        .scrolling-text-wrapper {
          display: inline-block;
          white-space: nowrap;
          opacity: 0;
          transition: 0.5s;
          filter: blur(5px);
          animation: scroll 13s linear infinite;

          position: absolute;
          top: 39%;

          p {
            display: inline-block;
            font-size: 40px;
            padding-right: 5px;
            color: $text-color-black;
          }
        }

        // applied through javascript to whichever project text scrolling animation should be playing
        .scrolling {
          opacity: 1;
          filter: blur(0px);
        }
      }

      // Project appear animation classes:
      // Initial state for project before appear animation.
      // Applied to any project that should be animated on scroll.
      .project-hidden {
        transition: 1s;

        &.project-1 {
          transform: translateX(150px);
          z-index: 4;
        }

        &.project-2 {
          transform: translateX(-100px);
          z-index: 3;
        }

        &.project-3 {
          transform: translateX(-200px);
          z-index: 2;
        }

        &.project-4 {
          transform: translateX(-200px);
          z-index: 1;
        }
      }
      // Appear animation class. Applied and removed through javascript.
      .project-appear {
        &.project-1 {
          transform: translateX(0);
        }

        &.project-2 {
          transform: translateX(0);
        }

        &.project-3 {
          transform: translateX(0);
        }

        &.project-4 {
          transform: translateX(0);
        }
      }

      // adding the hover effect after appear animation styles so that it
      // won't be overridden.
      .project-container:hover {
        transition: 0.5s;
        transform: scale(0.95);
      }

      // Projects Grid - Project specific configs

      .project-1 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;

        .project-content {
          background-color: $project-item-color-blue;
          border: 100px solid $project-item-color-blue;

          h2 {
            font-size: 28px;
          }

          img {
            width: 6%;
          }
        }

        // custom scrolling text styling for project-1
        .scrolling-text-wrapper {
          animation: scroll 18s linear infinite;
          top: 35%;

          p {
            font-size: 80px;
            color: $text-color-grey;
          }
        }
      }

      .project-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        .project-content {
          background-color: $project-item-color-white;
          border: 60px solid $project-item-color-white;

          h2 {
            color: $text-color-black;
            font-size: 22px;
          }

          img {
            width: 10%;
          }
        }
      }

      .project-3 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;

        .project-content {
          background-color: $project-item-color-purple;
          border: 60px solid $project-item-color-purple;

          h2 {
            color: $text-color-black;
            font-size: 22px;
          }

          img {
            width: 12%;
          }
        }
      }

      .project-4 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;

        .project-content {
          background-color: $project-item-color-yellow;
          border: 60px solid $project-item-color-yellow;

          h2 {
            color: $text-color-black;
            font-size: 22px;
          }

          img {
            width: 5%;
          }
        }
      }
    }
  }
}

// text scrolling animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// Responsive Design

@media (width < 1200px) {
  .projects .projects-content .project-description-area {
    display: none;
  }

  .projects .projects-content .projects-grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .projects-grid .project-1 {
    position: relative;
  }

  .project-1 .project-content h2 {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .project-1 .project-content img {
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .project-1 .scrolling-text-wrapper {
    top: 45%;
  }

  .project-1 .scrolling-text-wrapper p {
    font-size: 50px;
  }

  .project-2 .scrolling-text-wrapper,
  .project-3 .scrolling-text-wrapper,
  .project-4 .scrolling-text-wrapper {
    display: none;
  }

  .projects-grid .project-hidden {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
    transition: 0.5s;
  }

  .project-4 .project-content img {
    width: 10%;
  }
}

@media (width >= 800px) and (width < 1200px) {
  .projects {
    height: 900px;
  }

  .projects-heading {
    margin-top: 0px;
  }

  .projects-grid {
    margin-top: 30px;
    height: auto;
    margin-bottom: 0px;
  }

  .projects-grid .project-container:not(.project-1) {
    width: 100%;
    height: 20%;
  }
}

@media (width >= 1200px) and (width <= 1500px) {
  .projects-grid .project-content img {
    width: 8%;
  }

  .project-2 .project-content img,
  .project-3 .project-content img {
    width: 20%;
  }
}

// Responsive Design - Old Syntax (for some IOS clients)

@media (max-width: 1199px) {
  .projects .projects-content .project-description-area {
    display: none;
  }

  .projects .projects-content .projects-grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .projects-grid .project-1 {
    position: relative;
  }

  .project-1 .project-content h2 {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .project-1 .project-content img {
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .project-1 .scrolling-text-wrapper {
    top: 45%;
  }

  .project-1 .scrolling-text-wrapper p {
    font-size: 50px;
  }

  .project-2 .scrolling-text-wrapper,
  .project-3 .scrolling-text-wrapper,
  .project-4 .scrolling-text-wrapper {
    display: none;
  }

  .projects-grid .project-hidden {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
    transition: 0.5s;
  }

  .project-4 .project-content img {
    width: 10%;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .projects {
    height: 900px;
  }

  .projects-heading {
    margin-top: 0px;
  }

  .projects-grid {
    margin-top: 30px;
    height: auto;
    margin-bottom: 0px;
  }

  .projects-grid .project-container:not(.project-1) {
    width: 100%;
    height: 20%;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .projects-grid .project-content img {
    width: 8%;
  }

  .project-2 .project-content img,
  .project-3 .project-content img {
    width: 20%;
  }
}
