@import "utility/variables";
// === Services ===

.services-section-spacer {
  background-image: url(/images/section_transition_svgs/services-section-waves-transition.svg);
  height: 350px;
  background-position: top;
}

.services {
  height: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;

  .services-heading {
    margin-top: 50px;
  }

  .services-content {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

    // General service styling
    .service {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid blue;

      img {
        width: 150px;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
      }

      h2,
      p {
        text-align: center;
      }

      // Floating effect for service images
      .floating {
        animation: floating 4s ease-in-out infinite;
        animation-delay: 1s;
      }
    }

    // Line decor
    .line-decor-container {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .line-decor {
        width: 2px;
        height: 80%;
        background-color: $text-color-grey;
        border-radius: 10px;
        box-shadow: 0 0 10px #9ecaed;
      }

      // animation classes for line-decor
      .line-decor-hidden {
        transition: all 3s;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition-delay: 200ms;
      }

      .line-decor-show {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }

  .services-blob {
    top: -100px;
    right: -400px;
    z-index: 2;
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}

// Responsive Design

@media (max-width: 1199px) {
  .services-section-spacer {
    height: 150px;
  }

  .services {
    .services-heading {
      margin-top: 0px;
    }

    .services-content {
      .right-side {
        display: none;
      }

      .left-side {
        width: 100%;
      }

      .services-inner-content {
        width: 90%;
        height: 90%;
      }
    }

    .services-blob {
      width: 600px;
      right: -300px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .services-section-spacer {
    height: 200px;
  }

  .services {
    height: 850px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .services {
    .services-content {
      .services-inner-content {
        width: 90%;
      }

      .right-side {
        justify-content: flex-end;
      }
    }
  }
}
