@import "utility/variables";
@import "utility/mixins";
// === Services ===

.services-section-spacer {
  background-image: url(/images/section_transition_svgs/services-section-waves-transition.svg);
  height: 350px;
  background-position: top;
}

.services {
  height: 1000px;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;

  .services-heading {
    margin-top: 50px;
  }

  .services-content {
    display: flex;
    flex-direction: row;

    // General service styling
    .service {
      width: 48%;
      height: 100%;
      @include flexCenter(column, flex-start, center);
      padding-top: 30px;

      .service-heading-area {
        @include flexCenter(column);
        margin-bottom: 50px;

        img {
          width: 150px;
          margin-bottom: 30px;
        }

        h2 {
          font-size: 28px;
          margin-bottom: 20px;
        }

        p {
          font-size: 22px;
          line-height: 1.5;
        }

        h2,
        p {
          text-align: center;
        }
      }

      .service-content {
        width: 100%;
        height: auto;
      }

      // Floating effect for service images
      .floating {
        animation: floating 4s ease-in-out infinite;
        animation-delay: 1s;
      }
    }

    // Line decor
    .line-decor-container {
      width: auto;
      flex: 1; // fill the space between the two services
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .line-decor {
        width: 2px;
        height: 80%;
        background-color: $text-color-grey;
        border-radius: 10px;
        box-shadow: 0 0 10px #9ecaed;
      }

      // animation classes for line-decor
      .line-decor-hidden {
        transition: all 3s;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition-delay: 200ms;
      }

      .line-decor-show {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    // Specific service styling

    .service-1 {
      padding-left: 5%;

      .service-content {
        @include flexCenter;
        border: 1px solid red;

        h2,
        h3,
        h4,
        p {
          color: $text-color-grey;
        }

        .service-description-list {
          width: 50%;

          li {
            @include flexCenter(row, flex-start, center);
            height: 50px;
            font-size: 22px;
            // font-family: "Inter Extra-Light";
            color: $text-color-grey;

            margin-bottom: 30px;
            padding-left: 70px;
            background-repeat: no-repeat;

            &:nth-child(1) {
              background-image: url(/images/services/web_development/paint_palette.png);
              background-size: auto 50px;
            }

            &:nth-child(2) {
              background-image: url(/images/services/web_development/coding_icon.png);
              background-size: auto 40px;
            }

            &:nth-child(3) {
              background-image: url(/images/services/web_development/server.png);
              background-size: auto 40px;
            }

            &:nth-child(4) {
              background-image: url(/images/services/web_development/wrench.png);
              background-size: auto 40px;
            }
          }
        }

        .carousel {
          width: 50%;
          border: 1px solid green;
          @include flexCenter(column, flex-start, center);

          .carousel-inner {
            width: 90%;
            border-radius: 10px;
            border: 2px solid $theme-color-terminal-blue;

            .carousel-item {
              width: 100%;
              gap: 40px;
              padding: 15px 30px;
              display: none;

              p {
                line-height: 1.5;
              }

              button {
                border: none;
                background-color: $project-item-color-blue;
                // background-color: $theme-color-blue;

                &:hover {
                  box-shadow: none;
                  color: $text-color-grey;
                  transform: scale(0.95);
                }
              }
            }

            .carousel-active {
              @include flexCenter(column);
            }
          }

          .carousel-nav-buttons-container {
            @include flexCenter(row);
            gap: 20px;

            button {
              border: none;
              background-color: none;
              color: $theme-color-blue;
            }
          }
        }
      }
    }
  }

  .services-blob {
    top: -100px;
    right: -400px;
    z-index: 2;
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}

// Responsive Design

@media (max-width: 1199px) {
  .services-section-spacer {
    height: 150px;
  }

  .services {
    .services-heading {
      margin-top: 0px;
    }

    .services-content {
      .right-side {
        display: none;
      }

      .left-side {
        width: 100%;
      }

      .services-inner-content {
        width: 90%;
        height: 90%;
      }
    }

    .services-blob {
      width: 600px;
      right: -300px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .services-section-spacer {
    height: 200px;
  }

  .services {
    height: 850px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .services {
    .services-content {
      .services-inner-content {
        width: 90%;
      }

      .right-side {
        justify-content: flex-end;
      }
    }
  }
}
