@import "utility/variables";
@import "utility/mixins";

// === Tutoring ===

.tutoring-section-spacer {
  background-image: url(/images/section_transition_svgs/services-section-waves-transition.svg);
  height: 350px;
  background-position: top;
}

// Styling the section 50px bigger than the div so that
// the scroll-to is nicer. (When clicking on Tutoring from nav bar).
#tutoring {
  height: 900px;
  padding-top: 50px;
}

.tutoring {
  height: 850px;
  display: grid;
  grid-template-rows: auto 2fr 1fr;
  position: relative;
  padding: 0px 150px;

  .tutoring-heading {
    height: auto;
    gap: 50px;

    .tutoring-subheading-text {
      font-size: 28px;
      text-align: center;
    }
  }

  .tutoring-content {
    width: 100%;
    @include flexCenter(row, center, flex-start);
    padding-top: 60px;
    gap: 250px;

    .languages-covered-container {
      width: auto;
      @include flexCenter(column);

      .languages-covered-heading {
        margin-bottom: 30px;
      }

      .image-display {
        @include flexCenter(column, space-between, center);
        width: auto;
        gap: 20px;

        img {
          width: 100px;
        }

        .row-1,
        .row-2 {
          @include flexCenter();
          gap: 80px;
        }
      }
    }

    .topics-covered-container {
      width: auto;
      @include flexCenter(column);

      .topics-heading {
        margin-bottom: 30px;
      }

      .topic-list {
        li {
          margin-bottom: 20px;
          font-size: 20px;
          background-image: url("/images/other/check.png");
          background-repeat: no-repeat;
          background-size: 30px;
          background-position: left center;
          padding-left: 42px;
          height: 40px;
          @include flexCenter(row, flex-start);
          font-family: "Inter Medium";
        }
      }
    }
  }

  .content-outro {
    @include flexCenter(column);
    gap: 20px;

    .service-description-1 {
      text-align: center;
      line-height: 1.5;
      font-family: "Inter Medium";
    }

    .service-description-2 {
      text-align: center;
      line-height: 1.5;
      max-width: 700px;
    }
  }

  .tutoring-blob {
    top: -100px;
    right: -400px;
    z-index: 2;
  }
}

// Responsive Design

@media (max-width: 1400px) {
  .tutoring-section-spacer {
    height: 250px;
  }

  #tutoring {
    height: 1300px;
  }

  .tutoring {
    height: 1250px;
    .tutoring-content {
      @include flexCenter(column);
      gap: 100px;
    }
  }
}

@media (max-width: 1200px) {
  .tutoring {
    .tutoring-heading,
    .tutoring-content,
    .content-outro {
      z-index: 3;
    }
    .tutoring-blob {
      right: -500px;
      opacity: 0.7;
    }
  }
}

@media (max-width: 1000px) {
  .tutoring-section-spacer {
    height: 180px;
  }

  .tutoring {
    padding: 0px 20px;
  }
}

@media (max-width: 800px) {
  .tutoring {
    .tutoring-heading {
      .tutoring-subheading-text {
        font-size: 24px;
      }
    }

    .tutoring-content {
      .languages-covered-container {
        .languages-covered-heading {
          font-size: 20px;
        }
        .image-display {
          img {
            width: 70px;
          }
          .row-1,
          .row-2 {
            gap: 40px;
          }
        }
      }

      .topics-covered-container {
        .topics-heading {
          font-size: 20px;
        }

        .topic-list {
          li {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .tutoring-section-spacer {
    height: 140px;
  }
}

@media (max-width: 600px) {
  .tutoring-section-spacer {
    height: 100px;
  }
}

@media (max-width: 400px) {
  .tutoring {
    .content-outro {
      margin-top: 25px;
    }

    .tutoring-blob {
      right: -550px;
    }
  }
}
