/* === Global Configurations === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Inter Bold";
  src: url(fonts/inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter Extra-Light";
  src: url(fonts/inter/static/Inter-ExtraLight.ttf);
}

:root {
  --text-color-grey: #e8e6e6;
  --text-color-white: #ffffff;
  --text-color-blue: #39bde2;
  --text-color-darker-blue: #05aad8;
  --theme-color-grey: #595959;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, button, li, a {
  font-family: "Inter Bold";
  color: var(--text-color-white);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Inter Extra-Light";
  color: var(--text-color-grey);
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

img {
  max-width: 100%;
}

body {
  background-color: #28282b;
}

button {
  cursor: pointer;
  background-color: var(--text-color-blue);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--text-color-darker-blue);
}

.underline-style {
  position: relative;
}

.underline-style::before {
  position: absolute;
  content: "";
  border-bottom: 18px solid var(--text-color-blue);
  width: 95%;
  left: 10%;
  top: 70%;
  z-index: -1;
}

.left-side {
  width: 50%;
  height: 100%;
}

.right-side {
  width: 50%;
  height: 100%;
  float: right;
}

/* === Header === */

.header {
  /* background-color: #101010; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.header .logo {
  font-size: 24px;
}

.navigation {
  display: flex;
}

.navigation li {
  padding: 0 20px;
}

.navigation li a {
  transition: all 0.3s ease 0s;
}

.navigation li a:hover {
  color: var(--text-color-blue);
}

/* === Home === */

.home {
  height: 800px;
  display: flex;
}

.home .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .left-side .content-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .left-side .content-container .animation-text-container {
  width: auto;
  height: 60%;
}

.home .left-side .animation-text-container .cursor {
  display: inline-block;
  background-color: var(--text-color-white);
  width: 3px;
  font-size: 64px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .left-side .content-container h2 {
  font-size: 64px;
  margin-bottom: 10px;
  display: inline-block;
}

.home .left-side .content-container span {
  color: var(--text-color-blue);
}

.home .left-side .content-container h1 {
  font-size: 96px;
  margin-bottom: 30px;
  display: inline-block;
}

.home .left-side .content-container p {
  font-size: 24px;
  margin-bottom: 30px;
}

.home .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  isolation: isolate;
}

.home .right-side .dots-decor {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 25%;
  right: 0%;
  z-index: -2;

  background-image: radial-gradient(var(--text-color-grey) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  opacity: 0.3;
}

.home .right-side .parallax-container {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #05aad8; */
}

.home .right-side .parallax-wrapper {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  /* background-color: #05aad8; */
}

.home .right-side .square-decor {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: var(--theme-color-grey);
}

.home .right-side .square-decor-1 {
  z-index: -3;
  left: -10%;
  top: 20%;
  opacity: 0.2;
}

.home .right-side .square-decor-2 {
  z-index: -1;
  right: 2%;
  bottom: 10%;
  opacity: 0.2;
}

.home .right-side .content-container {
  /* background-color: lightseagreen; */
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home .right-side .content-container .border-box-top-left {
  position: absolute;
  width: 25%;
  height: 25%;
  border-top: var(--text-color-white) 1px solid;
  border-left: var(--text-color-white) 1px solid;
  left: 0%;
  top: 0%;
}

.home .right-side .content-container .border-box-bottom-right {
  position: absolute;
  width: 25%;
  height: 25%;
  border-bottom: var(--text-color-white) 1px solid;
  border-right: var(--text-color-white) 1px solid;
  right: 0%;
  bottom: 0%;
}

.home .right-side .content-container h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.home .right-side .content-container ul li {
  font-size: 24px;
  font-family: "Inter Extra-Light";
  color: var(--text-color-grey);
  margin-bottom: 30px;
  padding-left: 40px;

  background-image: url(images/other/check.png);
  background-repeat: no-repeat;
  background-size: 25px;
}
