// Variables partial file. To be imported.

// text colors
$text-color-grey: #e8e6e6;
$text-color-white: #ffffff;
$text-color-black: #000000;

// theme colors
$theme-color-blue: #39bde2;
$theme-color-grey: #595959;

$theme-color-terminal-blue: rgb(98, 151, 231);

// background colors
$background-color-grey: #28282b;
$background-color-dark: #090a0b;

// projects section
$project-item-color-blue: #4042cf;
$project-item-color-white: #f7f7f7;
$project-item-color-purple: #ddbcff;
$project-item-color-yellow: #fcf4a3;
